 <div className='mine'>
    <Col xs={6} md={8} >
    <Col xs={6} md={2}>
      <h4>Destination</h4>
      <br/>
      <p>Africa</p>
      <p>Antarctica</p>
      <p>Asia</p>
      <p>Europe</p>
      <p>America</p>
    </Col>
    <Col xs={6} md={2}>
    <h4>Shop</h4>
      <br/>
      <p>Destination Guide</p>
      <p>Pictorial & Gifts</p>
      <p>Special Offers</p>
      <p>Delivery Times</p>
      <p>FAQs</p>
    </Col>
    <Col xs={6} md={2}>
    <h4>Interests</h4>
      <br/>
      <p>Adventure Travel</p>
      <p>Art And Culture</p>
      <p>Wildlife And Nature</p>
      <p>Family Holidays</p>
      <p>Food And Drink</p>
    </Col>
    </Col>
    </div>

    <div className='footer_div'>
      <img src={logo} className='logo' />
      <br />
      <p className='footer_p' >Plan and book your perfect trip with 
expert advice, travel tips destination
information from us</p>

<p>&copy; 2020 Thousand Sunny. All rights reserved</p>
